

<launch>

  <param name="/use_sim_time" value="false"/>

  <node name="amcl" pkg="amcl" type="amcl" >

  <param name="odom_model_type" value="diff"/>
  <param name="gui_publish_rate" value="1.0"/>
  <param name="use_map_topic" value="true">
  <param name="global_frame_id" value="map"/>
  <param name="base_frame_id" value="base_link"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="resample_interval" value="1"/>
  <param name="transform_tolerance" value="0.1"/>
  <param name="recovery_alpha_slow" value="0.0"/>
  <param name="recovery_alpha_fast" value="0.0"/>
</node>

  <node pkg="tf" type="static_transform_publisher" name="map_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 10" />

  <node pkg="tf" type="static_transform_publisher" name="odom_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser 10" />

  <node pkg="rviz" type="rviz" name="rviz" />


</launch>